html{
    height: 100%;
    
}
.main{
    display: flex;
    position: relative;
    justify-content: center;
    height: 100%;
}

.header{
    display: flex;
    position: absolute;
    width: 75rem;
    height: 3rem;
    top:0.3rem;
    justify-content: left;
}

.statistics{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    border: 1px solid black;
    border-radius: 20px;
    top: 6px;
    width: 90px;
    height: 36px;
    background-color: rgb(25, 94, 223);
    left: 77%;
}

.brend{
    display: flex;
    position: relative;
}

.main_content{
    display: block;
    position: absolute;
    width: 75rem;
    top:3.5rem;
}
.img1{
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 75rem;
    height: 500px;
}

.img1_inf{
    display: flex;
    position: absolute;
    justify-content: center;
    width: 600px;
    height: 250px;
}
.name{
    display: block;
    position: absolute;
    color: #ffffff;
    font-size: 60px;
    top: -20px
}

.brief_inf{
    display: block;
    position: absolute;
    color: #ffffff;
    font-size: 30px;
    top: 105px;
    word-wrap: break-word;
}

.slider{
    display: flex;
    position: relative;
    /* justify-content: center; */
    align-items: center;
    width: 75rem;
    height: 350px;
    overflow: hidden;
}

.slider_line{
    display: flex;
    position: relative;
    transition: 1s;
}

.i1{
    width: 560px;
    height: 350px;
    margin-left: 320.2px;
}

.button{
    display: inline-flex;
    position: absolute;
    top: 300px;
    left: 560px;
}

.slider_next_1{
    background-color: rgb(0, 47, 255);
    border-radius: 4px;
    transition: 1s;
    border: 1px solid black;
    width: 13px;
    height: 13px;
}

.slider_next_2{
    border-radius: 4px;
    transition: 1s;
    border: 1px solid black;
    margin-left: 2px;
}

.slider_next_3{
    border-radius: 4px;
    transition: 1s;
    border: 1px solid black;
    margin-left: 2px;
}

.slider_next_4{
    border-radius: 4px;
    transition: 1s;
    border: 1px solid black;
    margin-left: 2px;
}
.img2 {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 75rem;
    height: 500px;
}

.based_inf{
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 250px;
    color: white;
    font-size: 30px;
}

.footer{
    display: block;
    position: relative;
    width: 75rem;
    height: 80px;
}

.support_line{
    position: relative;
    color: #858585;
    top: 75px;
}

a{
    text-decoration: none;
}

.company{
    position: relative;
    color: #858585;
    padding-top: 10px;
    padding-bottom: 10px;
    top: 95px;
    border-top: 1px solid #cbcbcc;
}