html{
    height: 100%;
    font-family: Helvetica, Arial, sans-serif;
}

body{
    height: 100%;
}

.header{
    display: flex;
    position: relative;
    height: 3rem;
    justify-content: center;
    align-items: center;   
}

.header_content{
    display: flex;
    position: absolute;
    width: 74rem;
    height: 3rem;
    justify-content: space-between;
}

.statistics{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 36px;
    top: 6px;
    color: #ffffff;
    border: 1px solid transparent;
    border-radius: 20px;
    background-color: rgb(25, 94, 223);
}

.main{
    display: flex;
    position: relative;
    height: auto;
    justify-content: center;
    align-items: center; 
}

.main_content{
    display: flex;
    position: relative;
    width: 73rem;
    height: 40rem;
    justify-content: center;
    align-items: center; 
}

.block{
    display: flex;
    position: relative;
    width: 600px;
    height: 400px;
    border: 2px solid black;
    border-radius: 25px;
    border-image: linear-gradient(180deg, rgb(42, 218, 204), rgb(6, 98, 179));
    border-image-slice: 1;
    justify-content: center;
    align-items: center; 
}

ul{
    list-style-type: none;
    font-size: 25px;
    text-align: center;
}

li{
    display: block;
    position: relative;
    top: 20px;
    font-size: 60px;
}

h1{
    font-size: 25px;
    text-align: center;
}

.footer{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    height: 80px;
}

.footer_inf{
    width: 75rem;
}

.support_line{
    position: relative;
    color: #858585;
    top: 74px;
}

a{
    text-decoration: none;
}

.company{
    position: relative;
    color: #858585;
    padding-top: 10px;
    padding-bottom: 10px;
    top: 95px;
    border-top: 1px solid #cbcbcc;
}